@mixin styles {
  color-scheme: dark;

  /* Catppuccin Mocha Palette */
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;

  /* Framework color */
  --main-bg: var(--ctp-base);
  --mask-bg: var(--ctp-surface0);
  --main-border-color: var(--ctp-surface0);

  /* Common color */
  --text-color: var(--ctp-text);
  --text-muted-color: var(--ctp-overlay1);
  --text-muted-highlight-color: var(--ctp-subtext0);
  --heading-color: var(--ctp-text);
  --label-color: var(--ctp-subtext0);
  --blockquote-border-color: var(--ctp-surface1);
  --blockquote-text-color: var(--ctp-overlay1);
  --link-color: var(--ctp-blue);
  --link-underline-color: var(--ctp-sapphire);
  --button-bg: var(--ctp-surface0);
  --btn-border-color: var(--ctp-surface1);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: var(--ctp-surface0);
  --card-header-bg: var(--ctp-mantle);
  --checkbox-color: var(--ctp-overlay0);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(
    circle,
    var(--ctp-mantle) 0%,
    var(--ctp-crust) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(88 91 112 / 40%) 50%,
    rgb(255 255 255 / 0%) 100%
  );

  /* Sidebar */
  --site-title-color: var(--ctp-subtext1);
  --site-subtitle-color: var(--ctp-overlay1);
  --sidebar-bg: var(--ctp-base);
  --sidebar-border-color: var(--ctp-mantle);
  --sidebar-muted-color: var(--ctp-overlay1);
  --sidebar-active-color: var(--ctp-lavender);
  --sidebar-hover-bg: var(--ctp-surface0);
  --sidebar-btn-bg: var(--ctp-surface0);
  --sidebar-btn-color: var(--ctp-overlay1);
  --avatar-border-color: var(--ctp-lavender);

  /* Topbar */
  --topbar-bg: rgb(30 30 46 / 64%);
  --topbar-text-color: var(--text-color);
  --search-border-color: var(--ctp-surface1);
  --search-icon-color: var(--ctp-overlay0);
  --input-focus-border-color: var(--ctp-lavender);

  /* Home page */
  --post-list-text-color: var(--ctp-text);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: var(--ctp-surface0);

  /* Posts */
  --toc-highlight: var(--ctp-lavender);
  --toc-popup-border-color: var(--ctp-surface1);
  --tag-hover: var(--ctp-surface1);
  --tb-odd-bg: var(--ctp-surface0); /* odd rows of the posts' table */
  --tb-even-bg: var(--ctp-mantle); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: var(--ctp-sapphire);
  --btn-share-color: var(--ctp-overlay0);
  --btn-share-hover-color: var(--ctp-subtext0);
  --card-bg: var(--ctp-base);
  --card-hover-bg: var(--ctp-surface0);
  --card-shadow: rgb(17 17 27 / 72%) 0 6px 18px 0, rgb(49 50 68 / 24%) 0 0 0 1px;
  --kbd-wrap-color: var(--ctp-overlay0);
  --kbd-text-color: var(--ctp-text);
  --kbd-bg-color: var(--ctp-mantle);
  --prompt-text-color: var(--ctp-text);
  --prompt-tip-bg: rgb(166 227 161 / 20%);
  --prompt-tip-icon-color: var(--ctp-green);
  --prompt-info-bg: rgb(137 180 250 / 20%);
  --prompt-info-icon-color: var(--ctp-blue);
  --prompt-warning-bg: rgb(249 226 175 / 20%);
  --prompt-warning-icon-color: var(--ctp-yellow);
  --prompt-danger-bg: rgb(243 139 168 / 20%);
  --prompt-danger-icon-color: var(--ctp-red);

  /* Tags */
  --tag-border: var(--ctp-surface1);
  --tag-shadow: var(--ctp-crust);
  --dash-color: var(--ctp-surface0);
  --search-tag-bg: var(--ctp-mantle);

  /* Categories */
  --categories-border: rgb(88 91 112 / 50%);
  --categories-hover-bg: var(--ctp-surface0);
  --categories-icon-hover-color: var(--ctp-lavender);

  /* Archive */
  --timeline-node-bg: var(--ctp-overlay2);
  --timeline-color: var(--ctp-surface0);
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: var(--ctp-surface0);
  --highlight-bg-color: var(--ctp-mantle);
  --highlighter-rouge-color: var(--ctp-rosewater);
  --highlight-lineno-color: var(--ctp-overlay0);
  --inline-code-bg: var(--ctp-surface0);
  --code-color: var(--ctp-text);
  --code-header-text-color: var(--ctp-overlay1);
  --code-header-muted-color: var(--ctp-surface0);
  --code-header-icon-color: var(--ctp-overlay0);
  --clipboard-checked-color: var(--ctp-green);
  --filepath-text-color: var(--ctp-subtext0);

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      var(--ctp-base),
      var(--ctp-surface0),
      var(--ctp-surface0),
      var(--ctp-surface0),
      var(--ctp-base)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme using Catppuccin Mocha --- */

  .highlight .gp {
    color: var(--ctp-overlay2);
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: var(--ctp-text);
    background-color: var(--ctp-mantle);
  }

  .highlight .err {
    color: var(--ctp-red);
    background-color: transparent;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: var(--ctp-overlay0);
    font-style: italic;
  }

  .highlight .cp {
    color: var(--ctp-pink);
  }

  .highlight .nt {
    color: var(--ctp-lavender);
  }

  .highlight .o,
  .highlight .ow {
    color: var(--ctp-sky);
  }

  .highlight .p,
  .highlight .pi {
    color: var(--ctp-overlay2);
  }

  .highlight .gi {
    color: var(--ctp-green);
  }

  .highlight .gd {
    color: var(--ctp-red);
    background-color: transparent;
  }

  .highlight .gh {
    color: var(--ctp-peach);
    background-color: var(--ctp-mantle);
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: var(--ctp-mauve);
  }

  .highlight .kc {
    color: var(--ctp-peach);
  }

  .highlight .kt {
    color: var(--ctp-yellow);
  }

  .highlight .kd {
    color: var(--ctp-mauve);
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: var(--ctp-green);
  }

  .highlight .sa {
    color: var(--ctp-mauve);
  }

  .highlight .sr {
    color: var(--ctp-teal);
  }

  .highlight .si {
    color: var(--ctp-peach);
  }

  .highlight .se {
    color: var(--ctp-pink);
  }

  .highlight .nn {
    color: var(--ctp-yellow);
  }

  .highlight .nc {
    color: var(--ctp-yellow);
  }

  .highlight .no {
    color: var(--ctp-peach);
  }

  .highlight .na {
    color: var(--ctp-blue);
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: var(--ctp-peach);
  }

  .highlight .ss {
    color: var(--ctp-flamingo);
  }
}
