@mixin styles {
  /* Catppuccin Latte Palette */
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;

  /* Framework color */
  --main-bg: var(--ctp-base);
  --mask-bg: var(--ctp-surface1);
  --main-border-color: var(--ctp-surface0);

  /* Common color */
  --text-color: var(--ctp-text);
  --text-muted-color: var(--ctp-overlay1);
  --text-muted-highlight-color: var(--ctp-subtext0);
  --heading-color: var(--ctp-text);
  --label-color: var(--ctp-subtext0);
  --blockquote-border-color: var(--ctp-surface1);
  --blockquote-text-color: var(--ctp-overlay1);
  --link-color: var(--ctp-blue);
  --link-underline-color: var(--ctp-surface0);
  --button-bg: var(--ctp-mantle);
  --btn-border-color: var(--ctp-surface0);
  --btn-backtotop-color: var(--ctp-subtext0);
  --btn-backtotop-border-color: var(--ctp-surface0);
  --checkbox-color: var(--ctp-overlay0);
  --checkbox-checked-color: var(--ctp-blue);
  --img-bg: radial-gradient(circle, var(--ctp-base) 0%, var(--ctp-mantle) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgb(239 241 245 / 0%) 0%,
    rgb(188 192 204 / 100%) 50%,
    rgb(239 241 245 / 0%) 100%
  );

  /* Sidebar */
  --site-title-color: var(--ctp-subtext1);
  --site-subtitle-color: var(--ctp-overlay1);
  --sidebar-bg: var(--ctp-mantle);
  --sidebar-border-color: var(--ctp-crust);
  --sidebar-muted-color: var(--ctp-overlay1);
  --sidebar-active-color: var(--ctp-lavender);
  --sidebar-hover-bg: var(--ctp-surface0);
  --sidebar-btn-bg: var(--ctp-base);
  --sidebar-btn-color: var(--ctp-overlay1);
  --avatar-border-color: var(--ctp-lavender);

  /* Topbar */
  --topbar-bg: rgb(239 241 245 / 70%);
  --topbar-text-color: var(--ctp-text);
  --search-border-color: var(--ctp-surface0);
  --search-icon-color: var(--ctp-overlay0);
  --input-focus-border-color: var(--ctp-lavender);

  /* Home page */
  --post-list-text-color: var(--ctp-text);
  --btn-patinator-text-color: var(--ctp-subtext0);
  --btn-paginator-hover-color: var(--ctp-surface0);

  /* Posts */
  --toc-highlight: var(--ctp-lavender);
  --toc-popup-border-color: var(--ctp-surface1);
  --btn-share-color: var(--ctp-overlay1);
  --btn-share-hover-color: var(--ctp-blue);
  --card-bg: var(--ctp-base);
  --card-hover-bg: var(--ctp-surface0);
  --card-shadow: rgb(220 224 232 / 35%) 0 2px 6px 0,
    rgb(204 208 218 / 30%) 0 0 0 1px;
  --footnote-target-bg: var(--ctp-sky);
  --tb-odd-bg: var(--ctp-mantle);
  --tb-border-color: var(--ctp-surface0);
  --dash-color: var(--ctp-surface1);
  --kbd-wrap-color: var(--ctp-overlay0);
  --kbd-text-color: var(--ctp-text);
  --kbd-bg-color: var(--ctp-mantle);
  --prompt-text-color: var(--ctp-text);
  --prompt-tip-bg: rgb(64 160 43 / 20%);
  --prompt-tip-icon-color: var(--ctp-green);
  --prompt-info-bg: rgb(30 102 245 / 15%);
  --prompt-info-icon-color: var(--ctp-blue);
  --prompt-warning-bg: rgb(223 142 29 / 20%);
  --prompt-warning-icon-color: var(--ctp-yellow);
  --prompt-danger-bg: rgb(210 15 57 / 15%);
  --prompt-danger-icon-color: var(--ctp-red);

  /* Tags */
  --tag-border: var(--ctp-surface1);
  --tag-shadow: var(--ctp-surface0);
  --tag-hover: var(--ctp-surface1);
  --search-tag-bg: var(--ctp-mantle);

  /* Categories */
  --categories-border: rgb(124 127 147 / 30%);
  --categories-hover-bg: var(--ctp-surface0);
  --categories-icon-hover-color: var(--ctp-lavender);

  /* Archive */
  --timeline-color: var(--ctp-surface1);
  --timeline-node-bg: var(--ctp-overlay1);
  --timeline-year-dot-color: var(--ctp-base);

  /* --- Custom code light mode colors --- */
  --language-border-color: var(--ctp-surface0);
  --highlight-bg-color: var(--ctp-mantle);
  --highlighter-rouge-color: var(--ctp-rosewater);
  --highlight-lineno-color: var(--ctp-overlay0);
  --inline-code-bg: var(--ctp-surface0);
  --code-color: var(--ctp-text);
  --code-header-text-color: var(--ctp-overlay1);
  --code-header-muted-color: var(--ctp-surface0);
  --code-header-icon-color: var(--ctp-overlay0);
  --clipboard-checked-color: var(--ctp-green);

  [class^='prompt-'] {
    --link-underline-color: var(--ctp-surface1);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme using Catppuccin Latte --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: var(--ctp-text);
    background-color: var(--ctp-mantle);
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: var(--ctp-mauve);
  }

  .highlight .gr {
    color: var(--ctp-red);
  }

  .highlight .gd {
    color: var(--ctp-red);
    background-color: transparent;
  }

  .highlight .nb {
    color: var(--ctp-yellow);
  }

  .highlight .nc {
    color: var(--ctp-yellow);
  }

  .highlight .no {
    color: var(--ctp-peach);
  }

  .highlight .nn {
    color: var(--ctp-yellow);
  }

  .highlight .sr {
    color: var(--ctp-teal);
  }

  .highlight .na {
    color: var(--ctp-blue);
  }

  .highlight .nt {
    color: var(--ctp-lavender);
  }

  .highlight .gi {
    color: var(--ctp-green);
    background-color: transparent;
  }

  .highlight .kc {
    color: var(--ctp-peach);
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: var(--ctp-peach);
  }

  .highlight .sb {
    color: var(--ctp-green);
  }

  .highlight .bp {
    color: var(--ctp-peach);
  }

  .highlight .ne {
    color: var(--ctp-red);
  }

  .highlight .nl {
    color: var(--ctp-blue);
  }

  .highlight .py {
    color: var(--ctp-blue);
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: var(--ctp-text);
  }

  .highlight .o,
  .highlight .ow {
    color: var(--ctp-sky);
  }

  .highlight .gh {
    color: var(--ctp-peach);
    font-weight: bold;
  }

  .highlight .gu {
    color: var(--ctp-blue);
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: var(--ctp-green);
  }

  .highlight .nd {
    color: var(--ctp-mauve);
  }

  .highlight .nf,
  .highlight .fm {
    color: var(--ctp-blue);
  }

  .highlight .err {
    color: var(--ctp-red);
    background-color: transparent;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: var(--ctp-overlay0);
    font-style: italic;
  }

  .highlight .gl {
    color: var(--ctp-overlay1);
  }

  .highlight .gt {
    color: var(--ctp-overlay1);
  }

  .highlight .ni {
    color: var(--ctp-text);
  }

  .highlight .si {
    color: var(--ctp-peach);
  }

  .highlight .ge {
    color: var(--ctp-text);
    font-style: italic;
  }

  .highlight .gs {
    color: var(--ctp-text);
    font-weight: bold;
  }
}
